body {
  background-color: #259096;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 70px;
  font-size: 80px;
  font-family: 'Bilbo Swash Caps', cursive;
}

.header {
  margin-left: 400px;
  width: 60%;
  padding: 20px;
}

#minutes, #seconds {
  background-color: #01373d;
  text-align: center;
  width: 70px;
  height: 50px;
  padding: 15px;
  border: 5px solid #027177;
  border-radius: 20px;
  font-size: 40px;
  color: white;
}

button {
  background-color: #7baab7;
  font-family: 'Bilbo Swash Caps', cursive;
  padding: 15px;
  text-align: center;
  color: black;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
}

#time {
  font-size: 200px;
  align-self: center;
  padding: 25px;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 300px;
}

#text {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 90px;
  margin-left: 320px;
}
