body {
    background-color: #259096;
}

.timeValue {
    font-size: 200px;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.textValue {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 75px;
    display: flex;
    justify-content: center;
}

.taskName {
    display: flex;
    justify-content: center;
    color: transparent;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}